body{
    background-color:coral;
    color: blue;
}

.heading{
    font-size:22px;
    width: 80%;
}

#camera{
    border: 2px dashed black;
    width: 350px;
    height: 300px;
}
    
